* {
    margin: 0;
    padding: 0;
    font-family: Arial;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
.container {
    width: 85%;
    margin: 0 auto;
}
body {
    background-color: yellowgreen;
}

header {
    padding: 20px 0;
    box-shadow: 5px 0 10px 10px rgba(0, 0, 0, 15%);
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .left h1 {
    color: white;
}
header ul li {
    display: inline;
    margin-left: 20px;
}
header ul li a {
    color: white;
    font-size: 23px;
}

.banner {
    margin: 35px 0;
}
.banner .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner ul li {
    margin-bottom: 10px;
}
.banner ul li a {
    font-size: 20px;
    color: white;
}
.banner .btn {
    border: 2px solid green;
    border-radius: 5px;
    background-color: yellowgreen;
    padding: 20px 10px;
}